{% extends VERSION|add:"/mhep_base.html" %}
{% load static %}

{% block extra_head %}
<style>
    .icon { width: 1em; height: 1em; }

    .unpad-8 {
        margin: -8px;
        padding: 8px;
    }

    .modal-backdrop {
        opacity:0.3 !important;
    }

    body .modal {
        /* new custom width */
        width: 560px;
        /* must be half of the width, minus scrollbar on the left (30px) */
        margin-left: -280px;
    }

    .container_if_u_want_it {
        max-width: 1100px;
        margin: 0 auto;
    }

    section {
        padding: 30px;
    }

    section h2 {
        font-size: 1.25rem;
        color: black;
    }

    select {
        width: 8rem;
        margin-bottom: 0;
    }

    html, body { background-color: var(--brown-3); }
    .table td { vertical-align: middle; }
    a.underline, a:hover.underline { text-decoration: underline; }
    thead {
        background-color: var(--brown-2);
    }
</style>

<script src="{% static VERSION|add:'/js/api.js' %}"></script>

{% endblock %}

{% block content %}

<section class="px-0">
    <h1 class="ma-0" id="organisation-name">Welcome</h1>
    <div id="org-buttons" class="mt-15" style="display: none">
        <button id="close-organisation" class="btn">
            <i class="icon-arrow-left"></i>
            Back to all organisations
        </button>

        <button id="show-members-button" class="btn">
            <i class="icon-user"></i>
            Show members
        </button>
    </div>
</section>

<section class="mb-30 bg-white" style="min-width: 450px; width: min-content;" id="organisation-list">
    <div class="d-flex justify-content-between align-items-center mb-15">
        <h2 class="mt-0 mb-0">Your Organisations</h2>
        <div>
            {% if request.user.is_staff %}
            <a class="btn mb-0" href="{% url "admin:"|add:VERSION|add:"_organisation_add" %}">
                <i class="icon-plus"></i> New Organisation
            </a>
            {% endif %}
        </div>
    </div>

    <div id="organisations"></div>
</section>

<section id="org-members" class="mb-30 bg-white" style="display:none; min-width: 60rem; width: min-content;">
    <h2 class="mt-0 mb-15">Members</h2>

    <table id="organisation-members" class="table" style="display: none; width: max-content;">
        <thead>
            <th>User</th>
            <th>Email</th>
            <th>Last active</th>
            <th colspan="3">Roles</th>
        </thead>

        <tr id="organisation-member-template" style="display: none;">
            <td class="member-user"></td>
            <td class="member-email"></td>
            <td class="member-last-active"></td>
            <td style="width: 10rem">
                <span class="member-is-librarian" style="display: none;" data-user-id="" data-org-id="">
                    <b>Librarian</b>
                    <button class="demote-librarian demote-role" style="display: none;" data-user-id="" data-org-id="">Demote</button>
                </span>
            </td>
            <td style="width: 3rem">
                <span class="member-is-admin" style="display: none;" data-user-id="" data-org-id="">
                    <b>Admin</b>
                </span>
            </td>
            <td style="width: 10rem">
                <button class="remove-user demote-role" style="display: none;" data-user-id="" data-org-id="">Remove member</button>
            </td>
        </tr>
    </table>

    <div id="organisation-members-container"></div>

    <form id="promote-librarian-form-template" style="display: none;">
        <div class="d-flex align-items-center">
            <label id="promote-librarian-label-template" style="margin-right: 1rem;">
                Add a librarian:
            </label>
            <select name="user-id" id="promote-librarian-select-template" style="width: 12rem; margin-right: 1rem;">
                <option value="">-- Select a member --</option>
            </select>
            <input class="btn" type="submit" value="Add">
        </div>
    </form>

    <div id="promote-librarian-form-container"></div>

    <form id="add-member-form-template" style="display: none;">
        <div class="d-flex align-items-center">
            <label id="add-member-label-template" style="margin-right: 1rem;">
                Add a member:
            </label>
            <select name="user-id" id="add-member-select-template" style="width: 12rem; margin-right: 1rem;">
                <option value="">-- Select a user --</option>
            </select>
            <input class="btn" type="submit" value="Add">
        </div>
    </form>

    <div id="add-member-form-container"></div>

    {% if request.user.is_staff %}
    <a id="organisation-add-member" href="" class="underline">Edit organisation</a>
    {% endif %}
</section>

<section class="assessments mb-45 bg-white">
    <div class="d-flex justify-content-between align-items-center mb-15">
        <h2 class="mt-0 mb-0" id="assessments-title">Your Assessments</h2>
        <div>
            <button id="new-assessment" class="btn"><i class="icon-plus"></i> New Assessment</button>
        </div>
    </div>

    <table id="assessment-table" class="table">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th>Description</th>
                <th>Owner</th>
                <th width="10%">Modified</th>
                <th>Status <i class="icon-question-sign" title="Completed assessments are locked"></i></th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody id="assessments"></tbody>
    </table>

    <div id="noassessments" style="display:none">
        You don't have any assessments yet.  Click "New" to get started.
    </div>
</section>

<div id="modal-assessment-create" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create new assessment</h3>
    </div>
    <div class="modal-body">
        <p>
            <span class="muted">Name</span>
            <br><input id="assessment-name-input" type="text" style="width:82%" />
        </p>
        <p>
            <span class="muted">Description</span>
            <br><input id="assessment-description-input" type="text" style="width:82%" />
        </p>

        <p>
            <span class="muted">Organisation</span>
            <br><select id="assessment-org-input" type="text" style="width:82%">
            </select>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="assessment-create" class="btn btn-primary">Create</button>
    </div>
</div>

<script>
    // if null, show personal assessments; otherwise show assessments with in given org
    var orgid = null;
    var current_user = '{{ user.username|default:"anonymous" }}';

    var assessments = [];
    var users = [];
    var organisations = [];

    function getOrganisationById(id) {
        return organisations.find(e => e.id == id)
    }

    function getAssessmentById(id) {
        return assessments.find(e => e.id == id)
    }

// -----------------------------------------------------------------------------------
// 1) Load assessment lists
// -----------------------------------------------------------------------------------

    mhep_helper.list_assessments().then(result => {
        assessments = result;
        draw_assessments("#assessments", assessments);
    });

// -----------------------------------------------------------------------------------
// Create new assessment
// -----------------------------------------------------------------------------------

    $("#new-assessment").click(function () {
        $("#modal-assessment-create").modal("show");
        $("#assessment-name-input").focus();

        let selected = (organisations.length === 1) ? organisations[0].id : "";
        let orgList = document.querySelector("#assessment-org-input");

        orgList.innerHTML = '<option value="">Private</option>' + organisations.map(org =>
            `<option value="${org.id}" ${org.id==selected?'selected':''}>${org.name}</option>`
        ).join("")
    });

    $('#modal-assessment-create').on('keypress', function (e) {
        if (e.key == "Enter") {
            $('#assessment-create').click();
        }
    });

    $("#assessment-create").click(function () {
        var name = $("#assessment-name-input").val();
        var description = $("#assessment-description-input").val();
        var organisation = $("#assessment-org-input").val();

        if (name == "") {
            alert("Please enter an assessment name");
            return;
        }

        mhep_helper.create(name, description, organisation, assessment => {
            assessments.push(assessment);
            draw_assessments("#assessments", assessments);
            $("#noassessments").hide();
        });

        $("#modal-assessment-create").modal("hide");
        $("#assessment-name-input").val("");
        $("#assessment-description-input").val("");
    });

// -----------------------------------------------------------------------------------
// Duplicate assessment
// -----------------------------------------------------------------------------------

    $(".assessments").on('click', '.duplicate-assessment', function () {
        if (!window.confirm(
            "Do you really want to duplicate this assessment?  This will not duplicate images.")) {
            return;
        }

        const id = $(this).attr('data-assessment-id');

        mhep_helper.duplicate_assessment(id).then(data => {
            assessments.push(data)
            draw_assessments("#assessments", assessments);
        });
    });

// -----------------------------------------------------------------------------------
// Delete assessment
// -----------------------------------------------------------------------------------

    $(".assessments").on('click', '.delete-assessment', function () {
        if (!window.confirm(
            "Do you really want to delete this assessment?  This cannot be undone.")) {
            return;
        }

        const id = $(this).attr('data-assessment-id');

        mhep_helper.delete_assessment(id).then(() => {
            let idx = assessments.findIndex(e => e.id == id)
            assessments.splice(idx, 1);
            draw_assessments("#assessments", assessments);
        });
    });

// -----------------------------------------------------------------------------------
// Change assessment status
// -----------------------------------------------------------------------------------

    $(".assessments").on('change', '.assessment-status', function () {
        var assessmentid = $(this).attr('data-assessment-id');
        var status = $(this).val();
        mhep_helper.set_status(assessmentid, status).then(() => {
            let assessment = getAssessmentById(assessmentid)
            assessment.status = status;
            draw_assessments("#assessments", assessments);
        });
    });

// -----------------------------------------------------------------------------------
// Draw assessment list
// -----------------------------------------------------------------------------------

    function draw_assessments(element, assessments)
    {
        const status_options = ["In progress", "Complete", "Test"];
        const status_colours = {
            "In progress": "alert-info",
            "Complete": "alert-success",
            "Test": "alert-error"
        }
        const months = [
            'Jan', 'Feb', 'Mar', 'Apr',
            'May', 'Jun', 'Jul', 'Aug',
            'Sep', 'Oct', 'Nov', 'Dec'
        ];

        const sortedAssessments = [...assessments].sort((a, b) => {
            // Primarily sort by status (lowest first), then by ID (highest first)
            if (a.status != b.status) {
                let a_status_nr = status_options.indexOf(a.status)
                let b_status_nr = status_options.indexOf(b.status)

                return a_status_nr - b_status_nr;
            } else {
                return b.id - a.id;
            }
        })

        const getDate = date => {
            var t = new Date();
            var d = new Date(date);
            if (t.getYear() == d.getYear()) {
                var mins = d.getMinutes();
                if (mins < 10)
                    mins = "0" + mins;
                return `${d.getHours()}:${mins} ${d.getDate()} ${months[d.getMonth()]}`;
            } else {
                return `${d.getDate()}/${d.getMonth() + 1}/${d.getFullYear()}`;
            }
        }

        const getOptions = selectedStatus => {
            return status_options.map(status => {
                let selected = status === selectedStatus ? "selected" : ""
                return `<option ${selected}>${status}</option>`
            }).join("")
        }

        let out = "";
        for (let assessment of sortedAssessments) {
            let statusColour = status_colours[assessment.status]
            let assessmentURL = urlHelper.html.assessment(assessment.id);

            let owner = `${assessment.user.name}`;
            if (assessment.organisation) {
                owner += `<br><small>(${assessment.organisation.name})</small>`
            }

            out +=
                `<tr>
                    <td>
                        <a href="${assessmentURL}" class="underline d-b unpad-8">
                            ${assessment.name}</td>
                        </a>
                    </td>
                    <td>
                        ${assessment.description}
                    </td>
                    <td style='color:#888'>${owner}</td>
                    <td style='color:#888'>${getDate(assessment.mdate * 1000)}</td>
                    <td>
                        <select class='assessment-status ${statusColour}'
                                data-assessment-id="${assessment.id}">
                            ${getOptions(assessment.status)}
                        </select>
                    </td>
                    <td>
                        <div style="display: flex">
                            <button class="btn d-inline-flex align-items-center mr-7 duplicate-assessment"
                                    title="Duplicate"
                                    data-assessment-id="${assessment.id}">
                                <svg class="icon mr-1">
                                    <use xlink:href="#iconset-duplicate" />
                                </svg>
                            </button>

                            <button class="btn delete-assessment"
                                    title="Delete"
                                    data-assessment-id="${assessment.id}">
                                <i class="icon-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>`;
        }

        $(element).html(out);
        if (assessments.length == 0) {
            $("#noassessments").show();
            $("#assessment-table").hide();
        } else {
            $("#assessment-table").show();
            $("#noassessments").hide();
        }
    }

// ----------------------------------------------------------------------------
// ORGANISATIONS
// ----------------------------------------------------------------------------

    function fetchOrganisations() {
        return mhep_helper.list_organisations().then(result => {
            organisations = result;
            return organisations;
        })
    }

    function fetchAllUsers() {
        return mhep_helper.list_users().then(result => {
            users = result;
            return users;
        })
    };

    function fetchAndDrawOrganisationList() {
        let waitFor = [ fetchOrganisations(), fetchAllUsers() ]

        Promise.all(waitFor).then(_ => {
            if (organisations.length === 0) {
                no_organisations();
            } else {
                draw_organisation_list();
            }
        })
    };

    function fetchAndDrawOrganisation(orgid) {
        fetchOrganisations().then(result => {
            draw_organisation(orgid);
        });
    }

    fetchAndDrawOrganisationList()

    $("body").on("click", ".view-organisation", function () {
        orgid = $(this).attr("data-id");
        draw_organisation(orgid);
        $("#organisation-add-member").attr("href", urlHelper.admin.organisation(orgid));
        $("#show-members-button").show();
        $.ajax({
            url: urlHelper.api.organisationAssessments(orgid),
            error: handleServerError('listing assessments for organisation'),
            success: function (result) {
                assessments = result;
                draw_assessments("#assessments", assessments)
                const organisation = getOrganisationById(orgid);
                $("#assessments-title").html(organisation.name + " Assessments");
            }
        });
    });

    function no_organisations() {
        $("#organisations").html("<p>You are in no organisations.</p>");
    }

    function draw_organisation_list() {
        var out = "";
        for (let org of organisations) {
            let s = org.assessments === 1 ? "" : "s"

            out += `
            <div class="d-flex justify-content-between align-items-center mb-15" style="width: 30rem">
                <a class='view-organisation font-bold clickable underline' data-id='${org.id}'>
                    ${org.name}
                </a>
                <span>
                    ${org.assessments} assessment${s}
                </span>
            </div>`;
        }
        $("#organisations").html(out);
    }

    function draw_organisation(orgid) {
        const organisation = getOrganisationById(orgid)

        $("#organisation-list").hide();
        $("#org-buttons").show();

        var tableTemplate = $("#organisation-members");

        var table = tableTemplate.clone();
        table.show();

        $("#organisation-name").html(organisation.name);

        var rowTemplate = $('#organisation-member-template');
        var permissions = organisation.permissions;

        for (let member of organisation.members) {
            var row = rowTemplate.clone()
            row.removeAttr('id');

            row.find('[data-user-id=""]').attr('data-user-id', member.id);
            row.find('[data-org-id=""]').attr('data-org-id', orgid);

            row.find('.member-user').text(member.name);
            row.find('.member-email').text(member.email);
            row.find('.member-last-active').html(
                new Date(member.last_login).toLocaleString()
            );

            if (member.is_admin) row.find('.member-is-admin').show();
            if (member.is_librarian) row.find('.member-is-librarian').show();

            if (permissions.can_promote_demote_librarians) {
                var demoteLibrarianButton = row.find('.demote-librarian')
                demoteLibrarianButton.show();
                demoteLibrarianButton.click(handleClickDemoteLibrarian);
            }

            if (permissions.can_add_remove_members && member.name != current_user) {
                var removeMemberButton = row.find('.remove-user')
                removeMemberButton.show();
                removeMemberButton.click(handleClickRemoveUser);
            }

            row.show();
            table.append(row);
        }

        $("#organisation-members-container").html(table);

        if (permissions.can_promote_demote_librarians) {
            var promoteLibrarianFormTemplate = $("#promote-librarian-form-template");
            var promoteLibrarianForm = promoteLibrarianFormTemplate.clone();
            promoteLibrarianForm.removeAttr('id');

            promoteLibrarianForm.find("#promote-librarian-select-template").removeAttr("id").attr(
                "id", "promote-librarian-select-" + orgid
            )
            promoteLibrarianForm.find("#promote-librarian-label-template").removeAttr("id").attr(
                "for", "promote-librarian-select-" + orgid
            )
            promoteLibrarianForm.on("submit", handleSubmitPromoteLibrarian);

            populatePromoteLibrarianSelect(promoteLibrarianForm);
            promoteLibrarianForm.show();

            $("#promote-librarian-form-container").html(promoteLibrarianForm);
        } else {
            $("#promote-librarian-form-container").html("");
        }

        if (permissions.can_add_remove_members) {
            var addMemberFormTemplate = $("#add-member-form-template");
            var addMemberForm = addMemberFormTemplate.clone();
            addMemberForm.removeAttr('id');

            addMemberForm.find("#add-member-select-template").removeAttr("id").attr(
                "id", "add-member-select-" + orgid
            )
            addMemberForm.find("#add-member-label-template").removeAttr("id").attr(
                "for", "add-member-select-" + orgid
            )
            addMemberForm.on("submit", handleSubmitAddMember);

            populateAddMemberSelect(addMemberForm);
            addMemberForm.show();

            $("#add-member-form-container").html(addMemberForm);
        } else {
            $("#add-member-form-container").html("");
        }
    }

    function handleClickDemoteLibrarian(e) {
        e.preventDefault();
        $(this).attr("disabled", true);
        $(this).text("Demoting...");
        var orgid = $(this).attr('data-org-id');
        var userid = $(this).attr('data-user-id');
        mhep_helper.demote_user_as_librarian(orgid, userid).then(result => {
            fetchAndDrawOrganisation(orgid);
        });
    };

    function handleSubmitPromoteLibrarian(e) {
        e.preventDefault();
        var submitButton = $(this).find(':submit');
        submitButton.attr("disabled", true);
        submitButton.val("Adding...");
        var userid = $('#promote-librarian-select-' + orgid).val();
        mhep_helper.promote_user_as_librarian(orgid, userid).then(result => {
            submitButton.attr("disabled", false);
            submitButton.val("Add");
            fetchAndDrawOrganisation(orgid);
        });
    };

    function handleClickRemoveUser(e) {
        e.preventDefault();
        $(this).attr("disabled", true);
        $(this).text("Removing...");
        var orgid = $(this).attr('data-org-id');
        var userid = $(this).attr('data-user-id');
        mhep_helper.remove_member(orgid, userid).then(result => {
            fetchAndDrawOrganisation(orgid);
        });
    };

    function handleSubmitAddMember(e) {
        e.preventDefault();
        var submitButton = $(this).find(':submit');
        submitButton.attr("disabled", true);
        submitButton.val("Adding...");
        var userid = $('#add-member-select-' + orgid).val();
        mhep_helper.add_member(orgid, userid).then(result => {
            submitButton.attr("disabled", false);
            submitButton.val("Add");
            fetchAndDrawOrganisation(orgid);
        });
    };

    function populatePromoteLibrarianSelect(promoteLibrarianForm) {
        var organisation = getOrganisationById(orgid);
        var members = organisation.members;
        var select = promoteLibrarianForm.find("select");
        for (let member of members) {
            if (!member.is_librarian) {
                var option = document.createElement("option");
                option.textContent = `${member.name} <${member.email}>`;
                option.value = member.id;
                select.append(option);
            }
        };
    };

    function populateAddMemberSelect(addMemberForm) {
        var select = addMemberForm.find("select");

        for (let user of users) {
            if (!user.is_librarian) {
                var option = document.createElement("option");
                option.textContent = `${user.name} <${user.email}>`;
                option.value = user.id;
                select.append(option);
            }
        };
    };

    $("#close-organisation").click(function () {
        orgid = null;

        $("#organisation-name").html("Welcome");
        $("#org-buttons").hide();
        $("#organisation-list").show();
        $("#org-members").hide();

        mhep_helper.list_assessments().then(result => {
            assessments = result;
            $("#assessments-title").html("Your Assessments");
            draw_assessments("#assessments", assessments);
        });
    });

    $("#show-members-button").click(function() {
        $("#org-members").show();
        $("#show-members-button").hide();
    })

</script>
{% endblock %}
