{% extends VERSION|add:"/mhep_base.html" %}
{% load static i18n %}

{% block extra_head %}
<script src="{% static VERSION|add:'/js/api.js' %}"></script>
<script src="{% static VERSION|add:'/js/misc.js' %}"></script>
<script src="{% static VERSION|add:'/js/graphics.js' %}"></script>
<script src="{% static VERSION|add:'/js/extended-library-items.js' %}"></script>
<script src="{% static VERSION|add:'/js/model-datasets.js' %}"></script>
<script src="{% static VERSION|add:'/js/model.js' %}"></script>
<script src="{% static VERSION|add:'/js/library-helper.js' %}"></script>
<script src="{% static VERSION|add:'/js/reports.js' %}"></script>
<script src="{% static VERSION|add:'/js/questionnaire.js' %}"></script>
<script src="{% static VERSION|add:'/js_generated/exports-dev.js' %}"></script>

<link rel="stylesheet" href="{% static VERSION|add:'/css/vendor/jquery-ui-1.12.1.min.css' %}">
<script src="{% static VERSION|add:'/js/vendor/jquery-ui-1.12.1.min.js' %}"></script>
<script src="{% static VERSION|add:'/js/vendor/nunjucks-3.2.0.min.js' %}"></script>
<script src="{% static VERSION|add:'/js/vendor/papaparse-5.0.2.min.js' %}"></script>
<script>
    const VERSION = "{{ VERSION }}";
</script>

<!-- open floor uvalue calculator -->
<script src="{% static VERSION|add:'/js/openfuvc.js' %}"></script>
<script src="{% static VERSION|add:'/js/openfuvc-ui-helper.js' %}"></script>
<link rel="stylesheet" href="{% static VERSION|add:'/css/openfuvc.css' %}">

<style>
    .cc {
        color: var(--app-color);
        font-weight: bold;
        padding-right:20px;

    }

    .title {
        padding: 10px 30px;
        color:#888;
        float:left;
    }

    .modal-backdrop
    {
        opacity:0.3 !important;
    }
    body .modal {
        /* new custom width */
        width: 560px;
        /* must be half of the width, minus scrollbar on the left (30px) */
        margin-left: -280px;
    }

</style>

{% endblock %}


{% block extra_nav %}
    <span id="saving_status" class="mr-7"></span>

    <a id="undo">
        <svg style="width: 1rem; height: 1rem"><use xlink:href="#iconset-undo" /></svg>
    </a>
    <a id="redo">
        <svg style="width: 1rem; height: 1rem; transform: scaleX(-1);"><use xlink:href="#iconset-undo" /></svg>
    </a>
{% endblock %}


{% block content %}

<div id="openbem">
    <div id="sidebar">
    </div>

    <div id="wrapper" class="pa-30">
        <div id="page-header"></div>
        <div id="bound">
            <div id="content">
            </div>
        </div>
    </div>
</div>

<div id="modal-error-submitting-data" class="modal alert-danger hide" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
    <div class="modal-header">
        <h3>You have been logged out!</h3>
    </div>
    <div class="modal-body">
        <p>The last change hasn't been saved.</p>
        <p>You will be redirected to the login page.</p>
    </div>
    <div class="modal-footer">
        <button id="modal-error-submitting-data-done" class="btn btn-danger">Done</button>
    </div>
</div>

<div id="modal-scenario-locked" class="modal alert-warning hide" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
    <div class="modal-header">
        <h3>This scenario is locked!</h3>
    </div>
    <div class="modal-body">
        <p>You cannot modify it.</p>
    </div>
    <div class="modal-footer">
        <p data-dismiss="modal" aria-hidden="true" class="btn btn-warning">Ok</p>
    </div>
</div>

</body>
</html>


<script>
    //************
    // Variables
    //************
    var selected_library = -1;
    var selected_library_tag = "Wall";
    var page;
    var scenario;
    var locked = {{ locked_javascript }}; // populated via Django template
    var data = {};
    var keys = {};
    var libraries = [];

    //*********************
    // Initialize project
    //********************

    var projectid = {{ assessment.id }}; // populated via Django template

    var p = mhep_helper.get(projectid);

    if (p.data == false || p.data == null || Object.keys(p.data).length == 0) {
        p.data = window.Macquette.lib.blank();
    }

    var project = p.data;

    $.ajax({
        url: urlHelper.api.libraries(),
        async: false,
        datatype: 'json',
        error: handleServerError('loading libraries'),
        success: (result) => {
            libraries = result;
        },
    });

    //********************************
    // Initialize undo functionality
    //*******************************
    var historical = [];
    var historical_index; // pointer for the historical array, pointing the current version of project
    historical.unshift(JSON.stringify(project));
    historical_index = 0;

    refresh_undo_redo_buttons();

    //*******************************************************************
    // Initialize fuels: ensure all the scenarios have the same fuels
    //*******************************************************************

    if (project.master.fuels == undefined)
        project.master.fuels = JSON.parse(JSON.stringify(datasets.fuels));

    for (let scenarioId of get_scenario_ids(project)) {
        project[scenarioId].fuels = project.master.fuels;
    }

    //******************************
    // Calculate scenarios
    //******************************
    for (let scenarioId of get_scenario_ids(project)) {
        project[scenarioId] = calc.run(project[scenarioId], datasets);
    }

    //**********************************************
    // Fetch from hash the view to load and load it
    //**********************************************
    load_page_from_hash();

    //************************
    // Side Menus
    //************************
    redraw_sidebar();

    //**********
    // Events
    //**********
    $("#openbem").on("change", '[key]', function () {
        if (data.locked == true && page != "librariesmanager" && page != 'imagegallery' && page != 'export' && page != 'householdquestionnaire' && page != 'currentenergy' && page != 'commentary')
            $('#modal-scenario-locked').modal('show');
        else {
            var key = $(this).attr('key');
            var val = $(this).val();
            var input_type = $(this).attr('type');
            if (input_type == 'checkbox')
                val = $(this)[0].checked;
            if (input_type == 'textarea')
                val = $(this).html();

            if (!isNaN(val) && val != "")
                val *= 1;

            var lastval = varset(key, val);

            $("#openbem").trigger("onKeyChange", {key: key, value: val});

            console.log(key + " changed from " + lastval + " to " + val);
        }
        update();
    });
    $(window).on('hashchange', function () {
        $(window).scrollTop(0);
        load_page_from_hash();
    });

    // Do/undo
    $('body').on('click', '#undo', function () {
        if (historical_index < historical.length - 1) {
            historical_index++;
            project = JSON.parse(historical[historical_index]);
            update(true);
        }

        refresh_undo_redo_buttons();
    });
    $('body').on('click', '#redo', function () {
        if (historical_index > 0) {
            historical_index--;
            project = JSON.parse(historical[historical_index]);
            update(true);
        }

        refresh_undo_redo_buttons();
    });

    $(window).resize(function () {
        pageheader_resize();
    });


    //*************
    // Functions
    //*************
    function update(undo_redo = false) {
        // We need to calculate the periods of heating off here because if we try to do it in household.js it happens after the update
        if ("household" in project.master) {
            // we ensure all the scenarios have the same household data and heating off periods
            for (let scenarioId of get_scenario_ids(project)) {
                project[scenarioId].household = project.master.household;
                project[scenarioId].temperature.hours_off.weekday = get_hours_off_weekday(project[scenarioId]);
                project[scenarioId].temperature.hours_off.weekend = get_hours_off_weekend(project[scenarioId]);
            }
        }

        project[scenario] = calc.run(project[scenario], datasets);
        data = project[scenario];
        if (undo_redo === false) {
            historical.splice(0, historical_index); // reset the historical removing all the elements that were still there because of undoing
            historical.unshift(JSON.stringify(project));
            historical_index = 0;
            refresh_undo_redo_buttons();
        }

        UpdateUI(data);
        pageheader_new_values({ scenario: data, scenarioId: scenario });

        redraw_sidebar();

        $("#saving_status").text("Saving...");

        const inputs = extract_assessment_inputs(project);
        mhep_helper.set(projectid, inputs, function (err, result) {
            if (err) {
                $("#saving_status").text("Failed to save");
            } else {
                $("#saving_status").text("Saved");
                alertifnotlogged(result);
                alert_if_assessment_locked(result);
            }
        });

        // Validate our current location
        if (!(scenario in p.data)) {
            load_page_from_hash();
        } else {
            if (project[scenario].locked) {
                $('.if-not-locked').hide();
            } else {
                $('.if-not-locked').show();
            }
        }
    }
    function show_hide_if_master() {
        if (scenario == 'master')
            $('#content .if-not-master').hide();
        else {
            $('#content .if-master').hide();
            $('#content .disabled-if-not-master').attr('disabled', 'true');
        }
    }
    function redraw_sidebar() {
        Macquette.render(
            Macquette.views.Sidebar,
            {
                assessment: p.data,
                initialExpanded: scenario,
                totalLock: locked,
                hasReports: !!p.organisation,
                name: p.name,
                description: p.description,
                username: p.user.name,
                orgname: p.organisation ? p.organisation.name : null
            },
            document.querySelector('#sidebar'),
            update
        );
    }
    function load_page_from_hash() {
        let oldPage = page;
        let oldScenario = scenario;

        const location = window.location.hash.substring(1);

        if (location.length === 0) {
            scenario = "master";
            page = "setup";
        } else if (location.match("/") === null) {
            scenario = "master";
            page = location;
        } else {
            scenario = location.split('/')[0];
            page = location.split('/')[1];
        }

        if (!(scenario in project)) {
            scenario = 'master';
        }

        if (oldPage === page && oldScenario === scenario) {
            return;
        }

        if (oldPage && oldScenario) {
            UnloadUI(oldPage);
        }

        data = project[scenario];

        // Render page
        pageheader_new_page({
            page,
            scenario: data,
            scenarioId: scenario,
            totalLock: locked,
        });
        load_view("#content", page);

        InitUI();
        UpdateUI(data);

        // Add lock functionality to buttons and icons
        if (page != "librariesmanager" && page != 'imagegallery' && page != 'export' && page != 'householdquestionnaire' && page != 'currentenergy' && page != 'commentary' && page != 'report') {
            $('#content button').addClass('if-not-locked');
            $('#content i').addClass('if-not-locked');
            $('#content .revert-to-original').each(function () {
                if ($(this).css('display') != 'none')
                    $(this).addClass('if-not-locked');
            });
        }

        // Disable measures if master
        show_hide_if_master();

        if (data.locked)
            $('.if-not-locked').hide();
        else
            $('.if-not-locked').show();

        // Disable measures if master
        show_hide_if_master();

        // Make modals draggable
        $("#openbem .modal-header").css("cursor", "move");
        $("#openbem .modal").draggable({
            handle: ".modal-header"
        });
    }
    function refresh_undo_redo_buttons() {
        if (historical_index == historical.length - 1) {
            $('#undo').css('opacity', 0.1);
            $('#undo').css('cursor', 'default');
        }
        else {
            $('#undo').css('opacity', 1);
            $('#undo').css('cursor', 'pointer');
        }

        if (historical_index > 0) {
            $('#redo').css('opacity', 1);
            $('#redo').css('cursor', 'pointer');
        }
        else {
            $('#redo').css('opacity', 0.1);
            $('#redo').css('cursor', 'default');
        }
    }

</script>

{% endblock %}
