
<label class='form-row-label' for="report_date">Report date:</label>
<div class="form-row-control">
    <input type="text" placeholder="dd/mm/yyyy" key="data.household.report_date" id="report_date" style="width:150px">
</div>

<label class='form-row-label' for="report_version">Report version:</label>
<div class="form-row-control">
    <input type="text" key="data.household.report_version" id="report_version" style="width:150px">
</div>

<label class='form-row-label' for="report_signoff">Signed off by:</label>
<div class="form-row-control">
    <input type="text" key="data.household.report_signoff" id="report_signoff" style="width:150px">
</div>

<div class="mb-15">
    <p>Show these scenarios in the report:</p>
    <ul class="list-unstyled" id="scenario-choices"></ul>
</div>

<div class="mb-30">
    <button class="btn" id="generate-report">Generate</button>
    <button class="btn" id="print-report">Print</button>
</div>

<div id="report-preview" style="display: none">
    <span class="small-caps">Report preview</span>
    <iframe class="report-frame-body" style="width: 100%; height: 90vh; border: 2px solid black;"></iframe>
</div>
