<h3>Summary table</h3>
<table class="table" id="summary">

</table>
<div id="compare">
    <h2>Comparison tables</h2>
</div>
<div id='summary-measures'>
    <h2>Summary of measures</h2>
</div>
<div id='complete-measures'>
    <h2>List of measures</h2>
</div>
