<style>
    .questionnaire-form-row { display: flex; align-items: first baseline; margin-bottom: 15px; }
    .questionnaire-form-row-label { width: 10rem; flex-shrink: 0; }
    .questionnaire-form-row-control { flex-grow: 1; }
    .questionnaire-form-row-control input, .questionnaire-form-row-control select { margin-bottom: 0; }

    .questionnaire-form-row--twoline { display: block; }
    .questionnaire-form-row--twoline .questionnaire-form-row-label { width: 100%; }
    .questionnaire-form-row--twoline .questionnaire-form-row-control { margin-left: 10rem; }

    .{ margin-left: 2rem; }

    .w-50 { width: 50%; box-sizing: border-box; }

    .textarea--100 {
        height: 5em;
        width: 100%;
        box-sizing: border-box;
    }
    .textarea {
        width: 38em;
        height: 5em;
    }
    .textarea-sm {
        width: 26rem;
        height: 3em;
    }

    .bg-assessor {
        background-color: #eee;
    }

    input { max-width: 100%; }

    .input--num {
        width: 40px;
        height: 1.5rem !important;
        font-size: 1.5rem !important;
        text-align: center;
        margin-bottom: 0 !important;
    }

</style>

<section class="mb-45">
    <details class="mb-30">
        <summary>CSV import/export</summary>
        <div class="bg-assessor pa-15 mb-30">
            <p>
                <a style="text-decoration: underline; cursor: pointer;" id="get_csv">Get CSV file</a>
            </p>

            <div>
            <b>Import</b><br>
            <input type="file" id="csv_file" class="mb-15"><br>
            <button class="btn" id="process_csv">Import answers</button>
            </div>

            <p class="mb-0" id="csv-result"></p>
        </div>
    </details>

    <div class="questionnaire-form-row">
        <label class='questionnaire-form-row-label' for="assessment_date">Survey date:</label>
        <div class="questionnaire-form-row-control">
            <input type="text" placeholder="dd/mm/yyyy" key="data.household.assessment_date" id="assessment_date" style="width:150px">
        </div>
    </div>


    <h4>Household details</h4>
    <p class="text-italic">This section contains sensitive data so won't be included in the report.</p>

    <div class="d-flex mb-15">
        <div class="mr-15 w-50 questionnaire-form-row">
            <span class='questionnaire-form-row-label'>Tenure:</span>
            <div class="questionnaire-form-row-control">
                <label class="radio d-flex mb-7" for="tenure_1">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.tenure"
                            id="tenure_1"
                            name="tenure"
                            value="OWNER">
                    Owner occupied
                </label>

                <label class="radio d-flex mb-7" for="tenure_2">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.tenure"
                            id="tenure_2"
                            name="tenure"
                            value="RENT_PRIVATE">
                    Private rent
                </label>


                <label class="radio d-flex mb-7" for="tenure_3">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.tenure"
                            id="tenure_3"
                            name="tenure"
                            value="RENT_SOCIAL">
                    Social rent
                </label>


                <label class="radio d-flex mb-7" for="tenure_4">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.tenure"
                            id="tenure_4"
                            name="tenure"
                            value="COOP">
                    Co-op
                </label>


                <label class="radio d-flex mb-7" for="tenure_5">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.tenure"
                            id="tenure_5"
                            name="tenure"
                            value="SHARED">
                    Shared ownership
                </label>
            </div>
        </div>
        <div class="ml-15 w-50 bg-assessor pa-15">
            <div style="margin-top: -7px">Assessor notes:</div>
            <textarea key="data.household.tenure_note" class="textarea--100 mb-7 mt-7"></textarea>
            <p class="text-italic mb-0">Any peculiarities to do with ownership?  Freehold/easements/access, etc.</p>
        </div>
    </div>

    <div class="d-flex mb-15">
        <div class="questionnaire-form-row w-50 mr-15" style="align-items: flex-start;">
            <label class='questionnaire-form-row-label mt-15'>How many occupants:</label>
            <div class="questionnaire-form-row-control">
                <table class="table mb-0 table--vertical-middle" style="width: 240px">
                    <tr>
                        <td style="border-top: none" width="1" class="text-left">Children</td>
                        <td style="border-top: none" width="1" class="text-right">under 5</td>
                        <td style="border-top: none" class="text-right" width="1"><input type="text" key="data.household.occupants_under5" class="input--num" ></td>
                    </tr>
                    <tr>
                        <td class="text-left">Children</td>
                        <td class="text-right">5 – 17</td>
                        <td class="text-right" width="1"><input type="text" key="data.household.occupants_5to17" class="input--num"></td>
                    </tr>
                    <tr>
                        <td class="text-left">Adults</td>
                        <td class="text-right">18 – 65</td>
                        <td class="text-right" width="1"><input type="text" key="data.household.occupants_18to65" class="input--num"></td>
                    </tr>
                    <tr>
                        <td class="text-left">Adults</td>
                        <td class="text-right">over 65</td>
                        <td class="text-right" width="1"><input type="text" key="data.household.occupants_over65" class="input--num"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ml-15 w-50 bg-assessor pa-15">
            <div style="margin-top: -7px">Assessor notes:</div>
            <textarea key="data.household.occupants_note" class="textarea--100 mb-7 mt-7"></textarea>
            <p class="text-italic mb-0">Any non-straightforward patterns?  Occasional/regular lodgers or returning adult children, etc.</p>
        </div>
    </div>

    <div class="d-flex mb-15">
        <div class="w-50 mr-15">
            <label for="occupants_pets">Do you have any pets?</label>
            <textarea key="data.household.occupants_pets" id="occupants_pets" class="textarea--100 mb-0"></textarea>
            <p class="text-italic mb-30">Anything that would affect energy use?  Windows left open for cats, etc.</p>
        </div>
    </div>

    <div class="d-flex">
        <div class="w-50 mr-15">
            <label for="health">Do you have any health conditions that could be caused or affected by living in a cold or damp home?</label>
            <textarea key="data.household.health" id="health" class="textarea--100 mb-0"></textarea>
            <p class="text-italic mb-30">Make clear they don't have to answer this if they don't want to.  Check on asthma, cold, arthritis, etc.<br>
            When planning scenarios note that disruption may be a big issue for some people with health conditions.</p>
        </div>
    </div>
</section>

<section class="line-top mb-45">
    <h3 class="mt-0">1 Your aims</h3>

    <p class="text-italic mb-30">Explain to the householder that it is important for us to understand their aims and priorities so we can tailor our recommendations to suit.  So we'd like them to tell us about why they're investigating energy efficiency works for their home.</p>

    <h4>1.1 Your Plans</h4>

    <p>How long have you lived here?</p>

    <div class="mb-30">
        <label class="radio d-flex mb-7" for="occupancy_actual_1">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.occupancy_actual"
                    id="occupancy_actual_1"
                    name="occupancy_actual"
                    value="0">
            Not yet moved in
        </label>
        <label class="radio d-flex mb-7" for="occupancy_actual_2">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.occupancy_actual"
                    id="occupancy_actual_2"
                    name="occupancy_actual"
                    value="1Y">
            Less than 12 months
        </label>
        <label class="radio d-flex mb-7" for="occupancy_actual_3">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.occupancy_actual"
                    id="occupancy_actual_3"
                    name="occupancy_actual"
                    value="2Y">
            1-2 years
        </label>
        <label class="radio d-flex mb-7" for="occupancy_actual_4">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.occupancy_actual"
                    id="occupancy_actual_4"
                    name="occupancy_actual"
                    value="5Y">
            2-5 years
        </label>
        <label class="radio d-flex mb-7" for="occupancy_actual_5">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.occupancy_actual"
                    id="occupancy_actual_5"
                    name="occupancy_actual"
                    value="10Y">
            5-10 years
        </label>
        <label class="radio d-flex mb-7" for="occupancy_actual_6">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.occupancy_actual"
                    id="occupancy_actual_6"
                    name="occupancy_actual"
                    value="20Y">
            10-20 years
        </label>
        <label class="radio d-flex mb-7" for="occupancy_actual_7">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.occupancy_actual"
                    id="occupancy_actual_7"
                    name="occupancy_actual"
                    value="20+Y">
            more than 20 years
        </label>
    </div>

    <div class="d-flex mb-15">
        <div class="w-50 mr-15">
            <p>How long do you see yourself living here?</p>

            <div class="mb-15">
                <label class="radio d-flex mb-7" for="occupancy_expected_1">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.occupancy_expected"
                            id="occupancy_expected_1"
                            name="occupancy_expected"
                            value="LONG">
                    long term (10 years+)
                </label>

                <label class="radio d-flex mb-7" for="occupancy_expected_2">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.occupancy_expected"
                            id="occupancy_expected_2"
                            name="occupancy_expected"
                            value="MED">
                    medium term (5-10 years)
                </label>

                <label class="radio d-flex mb-7" for="occupancy_expected_3">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.occupancy_expected"
                            id="occupancy_expected_3"
                            name="occupancy_expected"
                            value="SHORT">
                    short term (less than 5 years)
                </label>
            </div>
        </div>
        <div class="ml-15 w-50 bg-assessor pa-15">
            <div style="margin-top: -7px">Assessor notes:</div>
            <textarea key="data.household.occupancy_expected_note" class="textarea--100 mb-7 mt-7"></textarea>
        </div>
    </div>

    <div class="d-flex mb-15">
        <div class="w-50 mr-15">
            <p>Do you envisage any changes in your lifestyle/household? (e.g. working from home, children/other family members)</p>

            <label class="radio d-flex mb-7" for="expected_lifestyle_change_1">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.expected_lifestyle_change"
                        id="expected_lifestyle_change_1"
                        name="expected_lifestyle_change"
                        value="NO">
                No
            </label>

            <label class="radio d-flex mb-7" for="expected_lifestyle_change_2">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.expected_lifestyle_change"
                        id="expected_lifestyle_change_2"
                        name="expected_lifestyle_change"
                        value="YES">
                Yes
            </label>
        </div>
        <div class="ml-15 w-50 bg-assessor pa-15">
            <div style="margin-top: -7px">Assessor notes:</div>
            <textarea key="data.household.expected_lifestyle_change_note" class="textarea--100 mb-0 mt-7"></textarea>
            <p class="text-italic mb-0">This could be starting to work from home, new children, returning children, etc.</p>
        </div>
    </div>

    <div class="d-flex mb-15">
        <div class="w-50 mr-15">
            <p>Are you planning other building works in your home?</p>

            <label class="radio d-flex mb-7" for="expected_other_works_1">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.expected_other_works"
                        id="expected_other_works_1"
                        name="expected_other_works"
                        value="NO">
                No
            </label>

            <label class="radio d-flex mb-7" for="expected_other_works_2">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.expected_other_works"
                        id="expected_other_works_2"
                        name="expected_other_works"
                        value="YES">
                Yes
            </label>
        </div>
        <div class="ml-15 w-50 bg-assessor pa-15">
            <div style="margin-top: -7px">Assessor notes:</div>
            <textarea key="data.household.expected_other_works_note" class="textarea--100 mb-0 mt-7"></textarea>
            <p class="text-italic mb-0">This could include loft converstion, extension, "knocking through", etc.</p>
        </div>
    </div>

    <div class="d-flex mb-30">
        <div class="w-50 mr-15">
            <p>How soon do you hope to start retrofit work on your home?</p>

            <label class="radio d-flex mb-7" for="expected_start_1">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.expected_start"
                        id="expected_start_1"
                        name="expected_start"
                        value="3_MONTH">
                3 months
            </label>

            <label class="radio d-flex mb-7" for="expected_start_2">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.expected_start"
                        id="expected_start_2"
                        name="expected_start"
                        value="6_MONTH">
                3–6 months
            </label>

            <label class="radio d-flex mb-7" for="expected_start_3">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.expected_start"
                        id="expected_start_3"
                        name="expected_start"
                        value="24_MONTH">
                12–24 months
            </label>

            <label class="radio d-flex mb-7" for="expected_start_4">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.expected_start"
                        id="expected_start_4"
                        name="expected_start"
                        value="5_YEAR">
                2–5 years
            </label>
        </div>
        <div class="ml-15 w-50 bg-assessor pa-15">
            <div style="margin-top: -7px">Assessor notes:</div>
            <textarea key="data.household.expected_start_note" class="textarea--100 mb-0 mt-7"></textarea>
            <p class="text-italic mb-0">Include notes on specific deadlines here</p>
        </div>
    </div>

    <h4>1.2 Priorities</h4>

    <div class="d-flex mb-30">
        <div class="w-50 mr-15">
            <p>What are your priorities?</p>
            <p class="text-italic">Enter numbers 1, 2, 3.  You can also use 1, 2, 2 if equal.</p>

            <table class="table table--vertical-middle mb-0" style="width: 20rem">
                <tr>
                    <td style="border-top: none" width="1"><input key="data.household.priority_carbon" type="text" class="input--num"></td>
                    <td style="border-top: none">Save carbon</td>
                </tr>
                <tr>
                    <td><input key="data.household.priority_money" type="text" class="input--num"></td>
                    <td>Save money</td>
                </tr>
                <tr>
                    <td><input key="data.household.priority_comfort" type="text" class="input--num"></td>
                    <td>Improve comfort</td>
                </tr>
                <tr>
                    <td><input key="data.household.priority_airquality" type="text" class="input--num"></td>
                    <td>Improve indoor air quality</td>
                </tr>
                <tr>
                    <td><input key="data.household.priority_modernisation" type="text" class="input--num"></td>
                    <td>General modernisation</td>
                </tr>
                <tr>
                    <td><input key="data.household.priority_health" type="text" class="input--num"></td>
                    <td>Improve health</td>
                </tr>
            </table>
        </div>
        <div class="ml-15 w-50 bg-assessor pa-15">
            <div style="margin-top: -7px">Assessor notes: key qualitative criteria</div>
            <textarea key="data.household.priority_qualitative_note" class="textarea--100 mb-7 mt-7" style="height: 10em !important"></textarea>
            <p class="text-italic mb-0">This could include - using only local or natural materials, focussing on high-performance/high-tech solutions, focussing on low toxicity/health improving materials, focusing on low maintenance materials – or a "pragmatic" approach that includes all of the above.</p>
        </div>
    </div>

    <div class="d-flex mb-30">
        <div class="w-50 mr-15">
            <p class="mb-15">Would you mind changing the aesthetics of your home...</p>

            <div class="questionnaire-form-row">
                <span class="questionnaire-form-row-label">Externally?</span>
                <div class="questionnaire-form-row-control">
                    <label class="d-ib mr-15" for="aesthetics_external_2">
                        <input class="big-checkbox" id="aesthetics_external_2" name="aesthetics_external" type="radio" value="YES" key="data.household.aesthetics_external">
                        Yes
                    </label>
                    <label class="d-ib mr-15" for="aesthetics_external_1">
                        <input class="big-checkbox" id="aesthetics_external_1" name="aesthetics_external" type="radio" value="NO" key="data.household.aesthetics_external">
                        No
                    </label>
                </div>
            </div>

            <div class="questionnaire-form-row">
                <span class="questionnaire-form-row-label">Internally?</span>
                <div class="questionnaire-form-row-control">
                    <label class="d-ib mr-15" for="aesthetics_internal_2">
                        <input class="big-checkbox" id="aesthetics_internal_2" name="aesthetics_internal" type="radio" value="YES" key="data.household.aesthetics_internal">
                        Yes
                    </label>
                    <label class="d-ib mr-15" for="aesthetics_internal_1">
                        <input class="big-checkbox" id="aesthetics_internal_1" name="aesthetics_internal" type="radio" value="NO" key="data.household.aesthetics_internal">
                        No
                    </label>
                </div>
            </div>
        </div>
        <div class="ml-15 w-50 bg-assessor pa-15">
            <div style="margin-top: -7px">Assessor notes</div>
            <textarea key="data.household.aesthetics_note" class="textarea--100 mb-7 mt-7"></textarea>
            <p class="text-italic mb-0">
                Any key features the householder isparticularly fond of.<br>
                Any materials/measures they'd want to avoid.
            </p>
        </div>
    </div>

    <h4>1.3 Logistics</h4>

    <div class="d-flex mb-30">
        <div class="w-50 mr-15">
            <div class="mb-15">
                <p>Do you plan to do the work...</p>

                <label class="radio d-flex mb-7" for="logistics_packaging_1">
                    <input class="big-checkbox mr-7" id="logistics_packaging_1" name="logistics_packaging" type="radio" value="ONEGO" key="data.household.logistics_packaging">
                    all in one go
                </label>
                <label class="radio d-flex mb-7" for="logistics_packaging_2">
                    <input class="big-checkbox mr-7" id="logistics_packaging_2" name="logistics_packaging" type="radio" value="PHASES" key="data.household.logistics_packaging">
                    in phases
                </label>
            </div>

            <div>
                <p>Are you willing to do some of the work yourself?</p>

                <label class="radio d-flex mb-7" for="logistics_diy_1">
                    <input class="big-checkbox mr-7" id="logistics_diy_1" name="logistics_diy" type="radio" value="YES" key="data.household.logistics_diy">
                    yes
                </label>
                <label class="radio d-flex mb-7" for="logistics_diy_2">
                    <input class="big-checkbox mr-7" id="logistics_diy_2" name="logistics_diy" type="radio" value="NO" key="data.household.logistics_diy">
                     no
                </label>
            </div>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            <label class="questionnaire-form-row-label" style="margin-top: -7px" for="logistics_diy_note">Assessor notes</label>
            <textarea key="data.household.logistics_diy_note" id="logistics_diy_note" class="textarea--100"></textarea>
            <p class="text-italic mb-0">Record here any issues to do with procurement/packaging of works</p>
        </div>
    </div>

    <div class="d-flex mb-30">
        <div class="w-50 mr-15">
            <p>How much disruption would you be willing to live with?</p>

            <label for="disruption_1">
                <input class="big-checkbox mr-7" id="logistics_disruption_1" name="logistics_disruption" type="radio" value="0" key="data.household.logistics_disruption">
                very minimal disruption
            </label>
            <label for="logistics_disruption_2">
                <input class="big-checkbox mr-7" id="logistics_disruption_2" name="logistics_disruption" type="radio" value="1" key="data.household.logistics_disruption">
                having to redecorate in some rooms
            </label>
            <label for="logistics_disruption_3">
                <input class="big-checkbox mr-7" id="logistics_disruption_3" name="logistics_disruption" type="radio" value="2" key="data.household.logistics_disruption">
                complete strip out and redecoration
            </label>
            <label for="logistics_disruption_4">
                <input class="big-checkbox mr-7" id="logistics_disruption_4" name="logistics_disruption" type="radio" value="3" key="data.household.logistics_disruption">
                moving out for a few days
            </label>
            <label for="logistics_disruption_4">
                <input class="big-checkbox mr-7" id="logistics_disruption_4" name="logistics_disruption" type="radio" value="4" key="data.household.logistics_disruption">
                moving out for several months
            </label>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            <label class="questionnaire-form-row-label" style="margin-top: -7px" for="logistics_disruption_note">Assessor notes</label>
            <textarea key="data.household.logistics_disruption_note" id="logistics_disruption_note" class="textarea--100"></textarea>
            <p class="text-italic mb-0">Any areas where disruption should be avoided, or vulnerable residents that need to be considered in planning?</p>
        </div>
    </div>

    <div class="d-flex">
        <div class="w-50 mr-15">
            <p>Do you have a budget in mind?</p>

            <label for="logistics_budget_1">
                <input class="big-checkbox mr-7" id="logistics_budget_1" name="budget" type="radio" value="YES" key="data.household.logistics_budget">
                yes
            </label>
            <label for="logistics_budget_2" class="mb-15">
                <input class="big-checkbox mr-7" id="logistics_budget_2" name="budget" type="radio" value="NO" key="data.household.logistics_budget">
                I will work out a budget after understanding what's possible
            </label>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            <label class="questionnaire-form-row-label" style="margin-top: -7px" for="logistics_budget_note">Assessor notes</label>
            <textarea key="data.household.logistics_budget_note" id="logistics_budget_note" class="textarea--100"></textarea>
            <p class="text-italic mb-0">Can include budget figure here or specific thoughts/comments</p>
        </div>
    </div>
</section>

<section class="line-top mb-45">
    <h3 class="mt-0">2 Your Home Now</h3>
    <h4>2.1 General property information</h4>

    <div class="d-flex mt-15">
        <div class="w-50 mr-15 questionnaire-form-row">
            <span class='questionnaire-form-row-label'>House type:</span>
            <div class="questionnaire-form-row-control">
                <label class="radio d-flex mb-7" for="house_type_1">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.house_type"
                            id="house_type_1"
                            name="house_type"
                            value="MIDTERRACE">
                    Mid-terrace
                </label>

                <label class="radio d-flex mb-7" for="house_type_2">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.house_type"
                            id="house_type_2"
                            name="house_type"
                            value="SEMIDETACHED">
                    Semi-detached or end terrace
                </label>


                <label class="radio d-flex mb-7" for="house_type_3">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.house_type"
                            id="house_type_3"
                            name="house_type"
                            value="DETACHED">
                    Detached
                </label>


                <label class="radio d-flex mb-7" for="house_type_4">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.house_type"
                            id="house_type_4"
                            name="house_type"
                            value="FLAT_CONVERSION">
                    Flat (conversion)
                </label>


                <label class="radio d-flex mb-7" for="house_type_5">
                    <input type="radio" class="mr-7 big-checkbox"
                            key="data.household.house_type"
                            id="house_type_5"
                            name="house_type"
                            value="FLAT_PURPOSE">
                    Flat (purpose built)
                </label>
            </div>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            <label class="questionnaire-form-row-label" style="margin-top: -7px" for="house_type_note">Assessor notes</label>
            <textarea key="data.household.house_type_note" id="house_type_note" class="textarea--100"></textarea>
            <p class="text-italic mb-0">Any peculiarities?</p>
        </div>
    </div>

    <div class="questionnaire-form-row mb-30">
        <label class='questionnaire-form-row-label'>Number of bedrooms:</label>
        <div class="questionnaire-form-row-control">
            <input type="text" key="data.household.house_nr_bedrooms" class="input--num">
        </div>
    </div>

    <div class="bg-assessor pa-15 mb-30">
        <h4 class="mt-0">2.1.1 General construction</h4>
        <p>Provide a one-line description of each element, plus any issues noticed during the survey.</p>

        <div class="questionnaire-form-row">
            <label style="width: 18rem" class="questionnaire-form-row-label" for="construct_note_floors">Floors</label>
            <div class="questionnaire-form-row-control">
                <input type="text" id="construct_note_floors" key="data.household.construct_note_floors" style="width: 90% !important">
            </div>
        </div>

        <div class="questionnaire-form-row">
            <label style="width: 18rem" class="questionnaire-form-row-label" for="construct_note_walls">Walls</label>
            <div class="questionnaire-form-row-control">
                <input type="text" id="construct_note_walls" key="data.household.construct_note_walls" style="width: 90% !important">
            </div>
        </div>

        <div class="questionnaire-form-row">
            <label style="width: 18rem" class="questionnaire-form-row-label" for="construct_note_roof">Roof</label>
            <div class="questionnaire-form-row-control">
                <input type="text" id="construct_note_roof" key="data.household.construct_note_roof" style="width: 90% !important">
            </div>
        </div>

        <div class="questionnaire-form-row">
            <label style="width: 18rem" class="questionnaire-form-row-label" for="construct_note_openings">Windows and doors</label>
            <div class="questionnaire-form-row-control">
                <input type="text" id="construct_note_openings" key="data.household.construct_note_openings" style="width: 90% !important">
            </div>
        </div>

        <div class="questionnaire-form-row">
            <label style="width: 18rem" class="questionnaire-form-row-label" for="construct_note_drainage">Rainwater and drainage goods</label>
            <div class="questionnaire-form-row-control">
                <input type="text" id="construct_note_drainage" key="data.household.construct_note_drainage" style="width: 90% !important">
            </div>
        </div>

        <div class="questionnaire-form-row">
            <label style="width: 18rem" class="questionnaire-form-row-label" for="construct_note_ventiliation">Construction ventilation</label>
            <div class="questionnaire-form-row-control">
                <input type="text" id="construct_note_ventiliation" key="data.household.construct_note_ventiliation" style="width: 90% !important">
            </div>
        </div>

        <div class="questionnaire-form-row mb-0">
            <label style="width: 18rem" class="questionnaire-form-row-label" for="construct_note_ingress">Any evidence of water ingress or leaks?</label>
            <div class="questionnaire-form-row-control">
                <input type="text" id="construct_note_ingress" key="data.household.construct_note_ingress" style="width: 90% !important">
            </div>
        </div>
    </div>

    <h4>2.1.2 Works already undertaken</h4>

    <div class="d-flex mb-15">
        <div class="w-50 mr-15">
            <label for="previous_works">What has already been done, by you or previous residents?</p>
            <textarea key="data.household.previous_works" id="previous_works" class="textarea--100 mb-0" style="height: 8rem;"></textarea>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            Check for:
            <ul>
                <li>Windows + doors</li>
                <li>Loft insulation</li>
                <li>Floor insulation</li>
                <li>Cavity/internal wall insulation</li>
                <li>Heating system/boilers</li>
                <li>Renewable generation</li>
            </ul>
        </div>
    </div>

    <h4>2.1.3 Structural issues</h4>

    <div class="d-flex">
        <div class="w-50 mr-15">
            <p>Are there any past, current or potential structural issues in your home?  (location, status, severity)</p>

            <textarea key="data.household.structural_issues" class="mb-30 textarea--100"></textarea>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            <label class="questionnaire-form-row-label" style="margin-top: -7px" for="structural_issues_note">Assessor notes</label>
            <textarea key="data.household.structural_issues_note" id="structural_issues_note" class="textarea--100 mb-0"></textarea>
            <p class="text-italic mb-0">check for cracks, shifting/leaning walls, etc.</p>
        </div>
    </div>

    <h4>2.1.4 Damp, condensation or mould</h4>

    <div class="d-flex">
        <div class="w-50 mr-15">
            <p>Is there any damp, condensation or mould in your home?</p>

            <textarea key="data.household.damp" class="mb-30 textarea--100"></textarea>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            <label class="questionnaire-form-row-label" style="margin-top: -7px" for="damp_note">Assessor notes</label>
            <textarea key="data.household.damp_note" id="damp_note" class="textarea--100 mb-0"></textarea>
            <p class="text-italic mb-0">check for cracks, shifting/leaning walls, etc.</p>
        </div>
    </div>

    <h4>2.1.5 Heating and hot water services</h4>

    <div class="d-flex mb-15">
        <div class="w-50 mr-15">
            <p>Your space heating is currently provided by...</p>
            <textarea key="data.household.space_heating_provided" class="textarea--100"></textarea>

            <p>which you control by...</p>
            <textarea key="data.household.space_heating_controls" class="textarea--100 mb-30"></textarea>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            <ul>
                <li>Check whether multiple systems in place</li>
                <li>Ask about controls and how they are used</li>
                <li>Check whether they have and use:
                    <ul>
                        <li>programmer</li>
                        <li>timer</li>
                        <li>TRVs</li>
                        <li>zoning</li>
                        <li>intelligent thermostat</li>
                        <li>etc.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="mb-30">
        <p>Do you completely switch off your space heating over summer?</p>

        <label class="radio d-flex mb-7" for="heating_off_summer_1">
            <input class="big-checkbox mr-7" id="heating_off_summer_1" name="heating_off_summer" type="radio" value="YES" key="data.household.heating_off_summer">
            yes
        </label>
        <label class="radio d-flex mb-7" for="heating_off_summer_2">
            <input class="big-checkbox mr-7" id="heating_off_summer_2" name="heating_off_summer" type="radio" value="NO" key="data.household.heating_off_summer">
             no
        </label>
    </div>

    <p>If you have a room thermostat, what temperature is it normally set at in winter?</p>
    <div class="d-flex align-items-center mb-30">
        <input type="text" key="data.household.heating_thermostat" class="input--num"> <span class="input--num">°C</span>
    </div>

    <p>Your normal heating hours on a <b>weekday</b> in winter are:</p>
    <table class="table table-striped" style="width: 24rem">
        <tr>
            <th></th>
            <th>On</th>
            <th>Off</th>
        </tr>
        <tr>
            <td>Period 1</td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekday_on1_hours" type="number" min="0" max="23" style="width:45px"/> : <input  class="mb-0" key="data.household.heating_weekday_on1_mins" type="number" min="0" max="59" style="width:45px"/></td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekday_off1_hours" type="number" min="0" max="23" style="width:45px"/> : <input class="mb-0"  key="data.household.heating_weekday_off1_mins" type="number" min="0" max="59" style="width:45px"/></td>
        </tr>
        <tr>
            <td>Period 2</td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekday_on2_hours" type="number" min="0" max="23" style="width:45px"/> : <input  class="mb-0" key="data.household.heating_weekday_on2_mins" type="number" min="0" max="59" style="width:45px"/></td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekday_off2_hours" type="number" min="0" max="23" style="width:45px"/> : <input class="mb-0"  key="data.household.heating_weekday_off2_mins" type="number" min="0" max="59" style="width:45px"/></td>
        </tr>
        <tr>
            <td>Period 3</td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekday_on3_hours" type="number" min="0" max="23" style="width:45px"/> : <input  class="mb-0" key="data.household.heating_weekday_on3_mins" type="number" min="0" max="59" style="width:45px"/></td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekday_off3_hours" type="number" min="0" max="23" style="width:45px"/> : <input class="mb-0"  key="data.household.heating_weekday_off3_mins" type="number" min="0" max="59" style="width:45px"/></td>
        </tr>
        <tr>
            <td colspan="3" class="text-right">
                Periods heating off week day: <span id="periods_heating_off_weekday"></p>
            </td>
        </tr>
    </table>

    <p>Your normal heating hours on a <b>weekend</b> in winter are:</p>
    <table class="table table-striped mb-30" style="width: 24rem">
        <tr>
            <th></th>
            <th>On</th>
            <th>Off</th>
        </tr>
        <tr>
            <td>Period 1</td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekend_on1_hours" type="number" min="0" max="23" style="width:45px"/> : <input  class="mb-0" key="data.household.heating_weekend_on1_mins" type="number" min="0" max="59" style="width:45px"/></td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekend_off1_hours" type="number" min="0" max="23" style="width:45px"/> : <input class="mb-0"  key="data.household.heating_weekend_off1_mins" type="number" min="0" max="59" style="width:45px"/></td>
        </tr>
        <tr>
            <td>Period 2</td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekend_on2_hours" type="number" min="0" max="23" style="width:45px"/> : <input  class="mb-0" key="data.household.heating_weekend_on2_mins" type="number" min="0" max="59" style="width:45px"/></td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekend_off2_hours" type="number" min="0" max="23" style="width:45px"/> : <input class="mb-0"  key="data.household.heating_weekend_off2_mins" type="number" min="0" max="59" style="width:45px"/></td>
        </tr>
        <tr>
            <td>Period 3</td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekend_on3_hours" type="number" min="0" max="23" style="width:45px"/> : <input  class="mb-0" key="data.household.heating_weekend_on3_mins" type="number" min="0" max="59" style="width:45px"/></td>
            <td><input class="hours-off mb-0" key="data.household.heating_weekend_off3_hours" type="number" min="0" max="23" style="width:45px"/> : <input class="mb-0"  key="data.household.heating_weekend_off3_mins" type="number" min="0" max="59" style="width:45px"/></td>
        </tr>
        <tr>
            <td colspan="3" class="text-right">
                Periods heating off weekend: <span id="periods_heating_off_weekend"></p>
            </td>
        </tr>
    </table>

    <p>
        Are any habitable rooms in your home not heated?<br>
        <i>List rooms not heated and sense-check during survey.</i>
    </p>
    <textarea key="data.household.heating_unheated_habitable" class="mb-30 textarea-sm"></textarea>


    <p>
        Your hot water is currently provided by...<br>
        <i>State what generates hot water, and also wether any water efficient taps etc. are fitted.</i>
    </p>

    <p></p>
    <textarea key="data.household.hot_water_provided" class="mb-30 textarea-sm"></textarea>

    <h4>2.1.6 Utilities</h4>

    <p>Does your home have a...</p>

    <label class="checkbox">
        <input class="big-checkbox mr-7" type="checkbox" key="data.household.mains_electricity">
        mains electricity connection
    </label>
    <label class="checkbox">
        <input class="big-checkbox mr-7" type="checkbox" key="data.household.mains_gas">
        mains gas connection
    </label>
    <label class="checkbox">
        <input class="big-checkbox mr-7" type="checkbox" key="data.household.mains_water">
        mains water connection
    </label>
    <label class="checkbox mb-30">
        <input class="big-checkbox mr-7" type="checkbox" key="data.household.mains_sewer">
        mains sewer connection
    </label>

    <h4>2.2 Ventilation + Indoor air quality</h4>

    <h4>2.2.1 Existing ventilation system</h4>

    <div class="pa-15 bg-assessor">

        <div class="mb-30">
            <label>Is there evidence of an adequate supply of fresh air through planned intake vents such as trickle vents in walls and/or windows or a mechanical supply system?</label>

            <label class="radio d-flex mb-7" for="ventilation_adequate_paths_2">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.ventilation_adequate_paths"
                        id="ventilation_adequate_paths_2"
                        name="ventilation_adequate_paths"
                        value="YES">
                Yes
            </label>

            <label class="radio d-flex mb-7" for="ventilation_adequate_paths_1">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.ventilation_adequate_paths"
                        id="ventilation_adequate_paths_1"
                        name="ventilation_adequate_paths"
                        value="NO">
                No
            </label>
        </div>

        <div class="mb-30">
            <p>
                Is there a purge vent in each habitable room?<br>
                This could be reasonably sized opening windows or a 'boost' function on vent system.
            </p>

            <label class="radio d-flex mb-7" for="ventilation_purge_vents_2">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.ventilation_purge_vents"
                        id="ventilation_purge_vents_2"
                        name="ventilation_purge_vents"
                        value="YES">
                Yes
            </label>

            <label class="radio d-flex mb-7" for="ventilation_purge_vents_1">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.ventilation_purge_vents"
                        id="ventilation_purge_vents_1"
                        name="ventilation_purge_vents"
                        value="NO">
                No
            </label>
        </div>

        <div class="mb-15">
            <p>Is there a clear under/overcut of 10mm above or below internal doors to allow air to move through dwelling?</p>

            <label class="radio d-flex mb-7" for="ventilation_gaps_2">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.ventilation_gaps"
                        id="ventilation_gaps_2"
                        name="ventilation_gaps"
                        value="YES">
                Yes
            </label>

            <label class="radio d-flex mb-7" for="ventilation_gaps_1">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.ventilation_gaps"
                        id="ventilation_gaps_1"
                        name="ventilation_gaps"
                        value="NO">
                No
            </label>
        </div>

        <div class="mb-15">
            <label for="ventilation_note">Assessor notes</label>
            <div>
                <textarea key="data.household.ventilation_note" id="ventilation_note" class="textarea"></textarea>
            </div>
        </div>

        <p>Temperature and RH data when we visited:</p>

        <table class="table table--vertical-middle" style="width: 20rem">
            <tr>
                <td></td>
                <th>Temperature</th>
                <th>Humidity</th>
            </tr>
            <tr>
                <td>Reading 1</td>
                <td><div class="d-flex align-items-center">
                    <input class="input--num" key="data.household.reading_temp1" type="text">
                    <span class="input--num">°C</span>
                </div></td>
                <td><div class="d-flex align-items-center">
                    <input class="input--num" key="data.household.reading_humidity1" type="text">
                    <span class="input--num">%</span>
                </div></td>
            </tr>
            <tr>
                <td>Reading 2</td>
                <td><div class="d-flex align-items-center">
                    <input class="input--num" key="data.household.reading_temp2" type="text">
                    <span class="input--num">°C</span>
                </div></td>
                <td><div class="d-flex align-items-center">
                    <input class="input--num" key="data.household.reading_humidity2" type="text">
                    <span class="input--num">%</span>
                </div></td>
            </tr>
        </table>

        <p>Given the above information about the ventilation system, we would suggest it is:</p>

        <label class="radio d-flex mb-7" for="ventilation_suggestion_1">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.ventilation_suggestion"
                    id="ventilation_suggestion_1"
                    name="ventilation_suggestion"
                    value="BAD">
            Inadequate and should be upgraded as soon as possible
        </label>
        <label class="radio d-flex mb-7" for="ventilation_suggestion_2">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.ventilation_suggestion"
                    id="ventilation_suggestion_2"
                    name="ventilation_suggestion"
                    value="OK">
            Adequate for the current condition but will need to be upgraded as part of retrofit
        </label>
        <label class="radio d-flex mb-7" for="ventilation_suggestion_3">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.ventilation_suggestion"
                    id="ventilation_suggestion_3"
                    name="ventilation_suggestion"
                    value="GOOD">
            Adequate and likely to be adequate for most foreseeable retrofit scenarios
        </label>

        <p class="mt-15 text-italic">Assessor guidance: if there is any sign of damp/mould, or no planned vent system, or if you suspect system is undersized / not functioning correctly / has elements missing, e.g intake vents, it should be upgraded as soon as possible.</p>
    </div>

    <h4>2.2.2 Solid fuel appliances</h4>

    <div class="d-flex">
        <div class="w-50 mr-15">
            <p>Do you have a solid fuel burning appliance such as an open fire or wood burning stove?</p>

            <label class="radio d-flex mb-7" for="fuel_burner_1">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.fuel_burner"
                        id="fuel_burner_1"
                        name="fuel_burner"
                        value="YES">
                Yes
            </label>
            <label class="radio d-flex mb-7" for="fuel_burner_2">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.fuel_burner"
                        id="fuel_burner_2"
                        name="fuel_burner"
                        value="NO">
                No
            </label>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            <span class="questionnaire-form-row-label">Assessor notes</span>
            <div class="questionnaire-form-row-control">
                <textarea key="data.household.fuel_burner_note" class="textarea--100"></textarea>
            </div>

            <p>Note any appliances and the current ventilation supplied to the appliance.  Mention if there is a relevant professional who can ensure the ventilation is adequate.</p>
        </div>
    </div>


    <h4>2.2.3 Laundry</h4>

    <p>How do you dry your laundry?</p>
    <textarea class="ma-0 textarea" key="data.household.laundry"></textarea>


    <h4>2.2.4 Radon</h4>
    <div class="pa-15 bg-assessor">
    <label for="radon_risk">The chance of a high level of radon is:</label>
    <select key="data.household.radon_risk" id="radon_risk" style="width:180px">
            <option value="">Select...</option>
            <option value="LOW">less than 1%</option>
            <option value="1-3">1-3%</option>
            <option value="3-5">3-5%</option>
            <option value="5-10">5-10%</option>
            <option value="10-30">10-30%</option>
            <option value="30">greater than 30%</option>
        </select><br>
    <i>Please look this up using the <a href="https://www.ukradon.org/information/ukmaps" rel="noreferrer"target="_blank" style="text-decoration: underline;">UK Radon map</a>.</i>
    </div>
    <h4>2.3 Your experience</h4>

    <h4>2.3.1 Thermal comfort</h4>

    <table class="table">
        <tr><th></th><th>Winter</th><th>Summer</th><th></th></tr>

        <tr>
            <td>Temperature</td>
            <td><select class="mb-0" key="data.household.comfort_temperature_winter">
                    <option value="">Select...</option>
                    <option value="LOW">Too cold</option>
                    <option value="MID">Just right</option>
                    <option value="HIGH">Too hot</option>
                    <option value="DK">Don't know</option>
                    <option value="NA">Not applicable</option>
                </select>
            </td>
            <td><select class="mb-0" key="data.household.comfort_temperature_summer">
                    <option value="">Select...</option>
                    <option value="LOW">Too cold</option>
                    <option value="MID">Just right</option>
                    <option value="HIGH">Too hot</option>
                    <option value="DK">Don't know</option>
                    <option value="NA">Not applicable</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Air Quality</td>
            <td><select class="mb-0" key="data.household.comfort_airquality_winter">
                    <option value="">Select...</option>
                    <option value="LOW">Too dry</option>
                    <option value="MID">Just right</option>
                    <option value="HIGH">Too stuffy</option>
                    <option value="DK">Don't know</option>
                    <option value="NA">Not applicable</option>
                </select></td>
            <td><select class="mb-0" key="data.household.comfort_airquality_summer">
                    <option value="">Select...</option>
                    <option value="LOW">Too dry</option>
                    <option value="MID">Just right</option>
                    <option value="HIGH">Too stuffy</option>
                    <option value="DK">Don't know</option>
                    <option value="NA">Not applicable</option>
                </select></td>
        </tr>

        <tr>
            <td>Draughts</td>
            <td><select class="mb-0" key="data.household.comfort_draughts_winter">
                    <option value="">Select...</option>
                    <option value="LOW">Too draughty</option>
                    <option value="MID">Just right</option>
                    <option value="HIGH">Too still</option>
                    <option value="DK">Don't know</option>
                    <option value="NA">Not applicable</option>
                </select></td>
            <td><select class="mb-0" key="data.household.comfort_draughts_summer">
                    <option value="">Select...</option>
                    <option value="LOW">Too draughty</option>
                    <option value="MID">Just right</option>
                    <option value="HIGH">Too still</option>
                    <option value="DK">Don't know</option>
                    <option value="NA">Not applicable</option>
                </select></td>
        </tr>
    </table>

    <div class="mb-15">
        <div class="mb-7">Are there any problem locations in your home? Any rooms or places that are often too cold or too hot?</div>
        <label class="radio d-flex mb-7" for="thermal_comfort_problems_2">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.thermal_comfort_problems"
                    id="thermal_comfort_problems_2"
                    name="thermal_comfort_problems"
                    value="YES">
            Yes
        </label>

        <label class="radio d-flex" for="thermal_comfort_problems_1">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.thermal_comfort_problems"
                    id="thermal_comfort_problems_1"
                    name="thermal_comfort_problems"
                    value="NO">
            No
        </label>
    </div>

    <div class="mb-15">
        <label class="questionnaire-form-row-label" for="thermal_comfort_note">Notes:</label>
        <textarea key="data.household.thermal_comfort_note" id="thermal_comfort_note" class="textarea"></textarea>
    </div>

    <h4>2.3.2 Daylight</h4>

    <div class="mb-15">
        <label class="questionnaire-form-row-label" for="daylight">Amount of daylight:</label>
        <select key="data.household.daylight">
            <option value="">Select...</option>
            <option value="LOW">Too little</option>
            <option value="MID">Just right</option>
            <option value="HIGH">Too much</option>
            <option value="VAR">Variable</option>
        </select>
    </div>

    <div class="mb-15">
        <div class="mb-7">Do you have any problem locations for daylight?</div>
        <label class="radio d-flex mb-7" for="daylight_problems_2">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.daylight_problems"
                    id="daylight_problems_2"
                    name="daylight_problems"
                    value="YES">
            Yes
        </label>

        <label class="radio d-flex" for="daylight_problems_1">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.daylight_problems"
                    id="daylight_problems_1"
                    name="daylight_problems"
                    value="NO">
            No
        </label>
    </div>

    <div class="mb-15">
        <label class="questionnaire-form-row-label" for="daylight_note">Note on where & what:</label>
        <textarea key="data.household.daylight_note" id="daylight_note" class="textarea"></textarea>
    </div>

    <h4>2.3.3 Noise</h4>

    <div class="mb-15">
        <div class="mb-7">Do you have any problems with noise from neighbours, between rooms or from outside?</div>
        <label class="radio d-flex mb-7" for="noise_problems_2">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.noise_problems"
                    id="noise_problems_2"
                    name="noise_problems"
                    value="YES">
            Yes
        </label>

        <label class="radio d-flex" for="noise_problems_1">
            <input type="radio" class="mr-7 big-checkbox"
                    key="data.household.noise_problems"
                    id="noise_problems_1"
                    name="noise_problems"
                    value="NO">
            No
        </label>
    </div>

    <div class="mb-15">
        <label class="questionnaire-form-row-label" for="noise_note">Note on where & what:</label>
        <textarea key="data.household.noise_note" id="noise_note" class="textarea"></textarea>
    </div>

    <h4>2.3.4 General</h4>

    <p>Are any rooms in your home unloved? Why?<br>
        <input type="text" key="data.household.rooms_unloved" style="width:400px"></p>

    <p>Do you have a favourite room? Why?<br>
        <input type="text" key="data.household.rooms_favourite" style="width:400px"></p>


    <h4>2.4 Historic significance</h4>


    <div class="d-flex">
        <div class="w-50 mr-15">
            <div class="questionnaire-form-row">
                <label class='questionnaire-form-row-label'>Built:</label>
                <div class="questionnaire-form-row-control">
                    <select key="data.household.historic_age_band" style="width:180px">
                        <option value="">Select...</option>
                        <option value="before-1900">Before 1900</option>
                        <option value="1900-1929">1900 - 1929</option>
                        <option value="1930-1949">1930 - 1949</option>
                        <option value="1950-1966">1950 - 1966</option>
                        <option value="1967-1975">1967 - 1975</option>
                        <option value="1976-1982">1976 - 1982</option>
                        <option value="1983-1990">1983 - 1990</option>
                        <option value="1991-1995">1991 - 1995</option>
                        <option value="1996-2002">1996 - 2002</option>
                        <option value="2003-2006">2003 - 2006</option>
                        <option value="2007-2011">2007 - 2011</option>
                        <option value="2012-onwards">2012 onwards</option>
                    </select>
                </div>
            </div>

            <div class="questionnaire-form-row">
                <label class="questionnaire-form-row-label">Exact year if known:</label>
                <div class="questionnaire-form-row-control">
                    <input type="text" key="data.household.historic_age_precise" style="width:150px">
                </div>
            </div>

            <div class="questionnaire-form-row">
                <label class='questionnaire-form-row-label'>Conservation area:</label>
                <div class="questionnaire-form-row-control">
                    <select key="data.household.historic_conserved" style="width:180px">
                        <option value="">Select...</option>
                        <option value="NO">No</option>
                        <option value="YES">Yes</option>
                    </select>
                </div>
            </div>

            <div class="questionnaire-form-row">
                <span class='questionnaire-form-row-label'>Listed?</span>
                <div class="questionnaire-form-row-control">
                    <label class="radio d-flex mb-0" for="historic_listed_1">
                        <input type="radio" class="mr-7"
                                key="data.household.historic_listed"
                                id="historic_listed_1"
                                name="historic_listed"
                                value="NO">
                        No
                    </label>

                    <label class="radio d-flex mb-0" for="historic_listed_2">
                        <input type="radio" class="mr-7"
                                key="data.household.historic_listed"
                                id="historic_listed_2"
                                name="historic_listed"
                                value="I">
                        Grade I
                    </label>


                    <label class="radio d-flex mb-0" for="historic_listed_3">
                        <input type="radio" class="mr-7"
                                key="data.household.historic_listed"
                                id="historic_listed_3"
                                name="historic_listed"
                                value="II">
                        Grade II
                    </label>


                    <label class="radio d-flex mb-0" for="historic_listed_4">
                        <input type="radio" class="mr-7"
                                key="data.household.historic_listed"
                                id="historic_listed_4"
                                name="historic_listed"
                                value="II*">
                        Grade II*
                    </label>


                    <label class="radio d-flex mb-0" for="historic_listed_5">
                        <input type="radio" class="mr-7"
                                key="data.household.historic_listed"
                                id="historic_listed_5"
                                name="historic_listed"
                                value="LOCAL">
                        Local Listing
                    </label>
                </div>
            </div>
        </div>
        <div class="w-50 pa-15 ml-15 bg-assessor">
            <span class="questionnaire-form-row-label">Assessor notes</span>
            <div class="questionnaire-form-row-control">
                <textarea key="data.household.historic_note" class="textarea--100"></textarea>
            </div>
        </div>
    </div>

    <h4>2.5 Climate change adaption</h4>

    <h4>2.5.1 Flood risk</h4>

    <div class="d-flex mb-15">
        <div class="w-50 mr-15">
            <label>Does your home have a history of flooding?</label>

            <label class="radio d-flex mb-7" for="flooding_history_2">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.flooding_history"
                        id="flooding_history_2"
                        name="flooding_history"
                        value="YES">
                Yes
            </label>

            <label class="radio d-flex mb-7" for="flooding_history_1">
                <input type="radio" class="mr-7 big-checkbox"
                        key="data.household.flooding_history"
                        id="flooding_history_1"
                        name="flooding_history"
                        value="NO">
                No
            </label>
        </div>
        <div class="ml-15 w-50 bg-assessor pa-15">
            <label style="margin-top: -7px" for="flooding_note">Assessor notes:</label>
            <textarea key="data.household.flooding_note" id="flooding_note" class="textarea--100 mb-7 mt-7"></textarea>
            <p class="text-italic mb-0">Note known frequency / extent of last flooding, plus any other relevant info</p>
        </div>
    </div>

    <div class="bg-assessor pa-15 mb-15 w-50">
        <p>
            <b>Risk of flooding from...</b><br>
            Please look this up using the <a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk/map" rel="noreferrer"target="_blank" style="text-decoration: underline;">uk.gov flood risk map</a>.
        </p>

        <div class="questionnaire-form-row">
            <label class="questionnaire-form-row-label" for="flooding_rivers_sea">Rivers and sea</label>
            <div class="questionnaire-form-row-control">
                <select class="mb-0" key="data.household.flooding_rivers_sea" id="flooding_rivers_sea">
                    <option value="">Select...</option>
                    <option value="HIGH">High</option>
                    <option value="MED">Medium</option>
                    <option value="LOW">Low</option>
                    <option value="VLOW">Very low</option>
                </select>
            </div>
        </div>

        <div class="questionnaire-form-row">
            <label class="questionnaire-form-row-label" for="flooding_surface_water">Surface water</label>
            <div class="questionnaire-form-row-control">
                <select class="mb-0" key="data.household.flooding_surface_water" id="flooding_surface_water">
                    <option value="">Select...</option>
                    <option value="HIGH">High</option>
                    <option value="MED">Medium</option>
                    <option value="LOW">Low</option>
                    <option value="VLOW">Very low</option>
                </select>
            </div>
        </div>

        <div class="questionnaire-form-row mb-0">
            <label class="questionnaire-form-row-label" for="flooding_reservoirs">Reservoirs</label>
            <div class="questionnaire-form-row-control">
                <select class="mb-0" key="data.household.flooding_reservoirs" id="flooding_reservoirs">
                    <option value="">Select...</option>
                    <option value="WITHIN">within potential extent of flooding from reservoir</option>
                    <option value="OUTWITH">not within potential extent of flooding from reservoir</option>
                </select>
            </div>
        </div>
    </div>

    <h4>2.5.2 Overheating risk</h4>

    <div class="bg-assessor pa-15 w-50">
        <label for="overheating_note">Assessor notes on overheating</label>
        <textarea key="data.household.overheating_note" id="overheating_note" class="textarea--100"></textarea>
        <p class="mb-0">Make note here of any large areas of east/west/south-facing glazing and any other concerns you have about overheating risk.
    </div>


    <h4>2.6 Context and other points of note</h4>

    <div class="bg-assessor pa-15 w-50">
        <label for="context_and_other_points">Assessor notes on context</label>
        <textarea key="data.household.context_and_other_points" id="context_and_other_points" class="textarea--100"></textarea>
        <p class="mb-0">This is a free text box for you to note any relevant items to do with context / setting of property and any constraints this might present.  For example, any issues with neighbours, utilities, property boundaries, etc. that might affect retrofit choices.
    </div>
</section>
