/*
 * Colours
 */

:root {
    --app-color: #ff2712;

    --warning-700: #ff5050;
    --warning-300: #ffa9a9;

    --brown-1: #897A67;
    --brown-2: rgba(215, 210, 201, 0.9);
    --brown-3: #EEECE5;
    --brown-4: rgb(242, 242, 242);

    /*
    $beige-000: rgb(99, 86, 71);
    $beige-200: mix($beige-000, #fff, 80%);
    $beige-400: mix($beige-000, #fff, 60%);
    $beige-500: mix($beige-000, #fff, 50%);
    $beige-700: mix($beige-000, #fff, 30%);
    $beige-800: mix($beige-000, #fff, 20%);
    */

    --beige-000: #635647;
    --beige-200: #82786c; /* rgba(99,86,71,0.8) */
    --beige-400: #a19a91;
    --beige-500: #b1aba3;
    --beige-700: #d0ccc8;
    --beige-800: #e0ddda; /* rgba(99,86,71,0.2) */
    --beige-900: rgb(238, 236, 229);
}

.bg-warning-300 { background-color: var(--warning-300); }
.bg-warning-700 { background-color: var(--warning-700); }

.border-warning-300 { border: 2px solid var(--warning-300); }
.border-warning-700 { border: 2px solid var(--warning-700); }

.fill-beige-000 { fill: var(--beige-000); }
.fill-beige-200 { fill: var(--beige-200); }
.fill-beige-400 { fill: var(--beige-400); }
.fill-beige-500 { fill: var(--beige-500); }
.fill-beige-700 { fill: var(--beige-700); }
.fill-beige-800 { fill: var(--beige-800); }
.stroke-beige-000 { stroke: var(--beige-000); }
.stroke-beige-200 { stroke: var(--beige-200); }
.stroke-beige-400 { stroke: var(--beige-400); }
.stroke-beige-500 { stroke: var(--beige-500); }
.stroke-beige-700 { stroke: var(--beige-700); }
.stroke-beige-800 { stroke: var(--beige-800); }

/* The rest ... */

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: white;
    padding:0px;
    margin:0px;
}

h1, h2, h3 {
    color: var(--app-color);
}

h3 {
    font-size:20px;
    line-height: 22px;
}

h2 {
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 25px;
}

h3 {
    font-size:20px;
    line-height: 22px;
}

hr {
    background: var(--app-color);
    border: 0; height: 1px;
    margin:0px;
}

a, a:hover {
    color:#000;
}

:root {
    --sidebar-width: 290px;
}

#sidebar {
    height: calc(100% - 40px);
    width: var(--sidebar-width);
    position: fixed;
    overflow-y: scroll;
    scrollbar-color: var(--beige-400) var(--beige-800);
    background-color: var(--beige-900);
}

#sidebar a {
    text-decoration: none !important;
}

#wrapper {
    background: white;
    max-width: 1150px;
    margin-left: var(--sidebar-width);
}

.block-header {
    background-color:#dbd6ce;
    color:#897A67;
    padding:10px 15px;
    font-weight:bold;
}

.block-header--clickable {
    cursor:pointer;
}

.block-header--clickable:hover {
    background-color:#e2ded7;
}

.side-section {
    padding-bottom: 10px !important;
}

.side-section--header {
    padding: 15px 20px 2px 20px;
    font-size: 0.8rem;
    font-weight:bold;
    color: #666;
    text-transform: uppercase;
}

.side-section li a {
    display: block;
    padding: 4px 0 4px 20px;
}

.sidebar-link {
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: var(--beige-700);
}

input[type="checkbox"] {
    padding:0px;
    margin:0px;
}

.gallery-card {
    border: 1px solid #CCC7B4;
    background: #444;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.75rem;
    max-width: 800px;
}
.gallery-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
}
.gallery-head img {
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
}
.gallery-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    background-color: #EEECE5;
}
.gallery-content button {
    margin-right: 5px;
}
.gallery-card--selected .gallery-content {
    background-color: #dff3ff;
}
.gallery-card--selected {
    border-color: #8cd4ff;
}
.gallery-checkbox {
    transform: scale(1.5);
}
.gallery-editor {
    width: 97%;
}
.gallery-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gallery-controls input {
    margin-left: auto;
}

input[type="file"].file-dropper {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label.file-dropper {
    font-size: 1em;
    display: inline-flex;
    align-items: center;
}

#delete-images{
    float:right;
    margin-right:50px;
}

body .modal {
    max-width: 98vw;
}

.modal-body {
    max-height: calc((100vh - 100px) / 1.5);
}

@media (max-width: 767px) {
    body {padding:0};
}

@media (max-width: 450px) {
    .row { padding:10px; }
    .col2 { width:100%; }
    .col1-inner { padding:5px; }
    .col2-inner { padding:5px; }
}

@media (min-width: 450px) and (max-width: 960px) {
    .col2 { width:100%; }
}
@media (min-width: 960px) { }



.librow:hover {
    background-color: #eee;
}

.small-caps {
    color: #555;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

.table-unstyled, .table-unstyled tr, .table-unstyled td, .table-unstyled th {
  padding: 0;
  margin: 0;
  border: none;
}

.tr-no-top-border td {
    border-top: none;
}

.table--vertical-middle tr, .table--vertical-middle td {
    vertical-align: middle;
}

.clickable { cursor: pointer; }

.tabular-nums {
    font-variant-numeric: tabular-nums;
}

.list-unstyled { margin: 0; padding: 0; list-style: none; }
.list-unstyled li { margin: 0; padding: 0; }

.text-units { font-size: 0.8rem }
.text-bigger { font-size: 1.25rem }

.text-nowrap { white-space: nowrap; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }

.text-normal { font-weight: normal !important; font-style: normal !important; }
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }

.text-warning { color: red; }


.d-i { display: inline; }
.d-ib { display: inline-block; }
.d-flex { display: flex; }
.d-b { display: block; }

.align-items-start { align-items: start !important; }
.align-items-center { align-items: center !important; }

.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }

.mt-0 { margin-top: 0px !important; }
.ml-0 { margin-left: 0px !important; }
.mb-0 { margin-bottom: 0px !important; }
.mr-0 { margin-right: 0px !important; }
.mx-0 { margin-left: 0px !important; margin-right: 0px !important; }
.my-0 { margin-top: 0px !important; margin-bottom: 0px !important; }
.ma-0 { margin: 0px !important; }

.pt-0 { padding-top: 0px !important; }
.pl-0 { padding-left: 0px !important; }
.pb-0 { padding-bottom: 0px !important; }
.pr-0 { padding-right: 0px !important; }
.px-0 { padding-left: 0px !important; padding-right: 0px !important; }
.py-0 { padding-top: 0px !important; padding-bottom: 0px !important; }
.pa-0 { padding: 0px !important; }

.mt-7 { margin-top: 7px !important; }
.ml-7 { margin-left: 7px !important; }
.mb-7 { margin-bottom: 7px !important; }
.mr-7 { margin-right: 7px !important; }
.mx-7 { margin-left: 7px !important; margin-right: 7px !important; }
.my-7 { margin-top: 7px !important; margin-bottom: 7px !important; }
.ma-7 { margin: 7px !important; }

.pt-7 { padding-top: 7px !important; }
.pl-7 { padding-left: 7px !important; }
.pb-7 { padding-bottom: 7px !important; }
.pr-7 { padding-right: 7px !important; }
.px-7 { padding-left: 7px !important; padding-right: 7px !important; }
.py-7 { padding-top: 7px !important; padding-bottom: 7px !important; }
.pa-7 { padding: 7px !important; }

.mt-15 { margin-top: 15px !important; }
.ml-15 { margin-left: 15px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mr-15 { margin-right: 15px !important; }
.mx-15 { margin-left: 15px !important; margin-right: 15px !important; }
.my-15 { margin-top: 15px !important; margin-bottom: 15px !important; }
.ma-15 { margin: 15px !important; }

.pt-15 { padding-top: 15px !important; }
.pl-15 { padding-left: 15px !important; }
.pb-15 { padding-bottom: 15px !important; }
.pr-15 { padding-right: 15px !important; }
.px-15 { padding-left: 15px !important; padding-right: 15px !important; }
.py-15 { padding-top: 15px !important; padding-bottom: 15px !important; }
.pa-15 { padding: 15px !important; }

.mt-30 { margin-top: 30px !important; }
.ml-30 { margin-left: 30px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mr-30 { margin-right: 30px !important; }
.mx-30 { margin-left: 30px !important; margin-right: 30px !important; }
.my-30 { margin-top: 30px !important; margin-bottom: 30px !important; }
.ma-30 { margin: 30px !important; }

.pt-30 { padding-top: 30px !important; }
.pl-30 { padding-left: 30px !important; }
.pb-30 { padding-bottom: 30px !important; }
.pr-30 { padding-right: 30px !important; }
.px-30 { padding-left: 30px !important; padding-right: 30px !important; }
.py-30 { padding-top: 30px !important; padding-bottom: 30px !important; }
.pa-30 { padding: 30px !important; }



.mb-45 {
    margin-bottom: 45px;
}

.pl-45 {
    padding-left: 45px !important;
}

.width-130 {
    width: 130px;
}

.width-max-content {
    width: max-content;
}


.line-top {
    border-top: 1px solid var(--app-color);
    padding-top: 0.5rem;
}
.line-bottom {
    border-bottom: 1px solid var(--app-color);
    padding-bottom: 0.5rem;
}
.line-both {
    border-top: 1px solid var(--app-color);
    border-bottom: 1px solid var(--app-color);
    padding: 0.5rem 0;
}
.big-checkbox {
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.bg-white { background-color: white; }
.bg-lighter { background-color: #ac9d9344; }
.bg-red { background-color: var(--app-color); }
.bg-pale-green { background-color: #beeebe; }
.bg-pale-blue { background-color: #ddeeff; }
.bg-golden { background-color: #e6c577; }

.fg-white { color: #fff; }

.btn--icon {
    display: inline-flex;
}

.btn--icon svg {
    align-self: center;
    margin-right: 0.25rem;
    height: 0.9rem;
    width: 0.9rem;
}

.house { width: 100%; max-width: 500px; font-size: 36px; }
.house--light { fill: rgba(172, 157, 147, 1) }
.house--med { fill: rgba(99, 86, 71, 0.3) }
.house--dark { fill: rgba(99, 86, 71, 0.6) }
.house--darker { fill: rgba(99, 86, 71, 0.8) }

.targetbar {
  margin-bottom: 0.5rem;
  font-size: 12px;
}

.targetbar-head {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

.member-last-active {
  color: #777;
}

button.demote-role {
  cursor: pointer;
  margin-left: 0.5rem;
}

/*** Disclosure ***/

summary {
    background-color: #f3f3f3;
    cursor: pointer;
    padding: 7px;
    width: max-content;
    margin-bottom: 7px;
}

/**** FORMS ****/

label input[type=radio] {
    margin-top: 0;
}

select {
    width: max-content;
}

.textarea {
    --line-height: 20px;
    --textarea-rows: 6;
    width: 38rem;
    height: calc(var(--line-height) * var(--textarea-rows));
}

.textarea--note {
    width: 38rem;
}

.form-row {
    display: flex;
    align-items: first baseline;
    min-height: 40px;
    --form-row-width: 38ch;
}

.form-row--narrow {
    --form-row-width: 25ch;
}

.form-row > :first-child {
    width: var(--form-row-width);
    padding-right: 1ch;
    padding-bottom: 10px;
}

.form-row select, .form-row input, .form-row label {
    margin-bottom: 0;
}

.form-row i {
    margin-left: 1ch;
}

.form-row select {
    width: auto
}

.form-row--indent {
    --indent-size: 3ch;
    padding-left: var(--indent-size);
}

.form-row--indent > :nth-child(2) {
    margin-left: calc(var(--indent-size) * -1);
}

/**** ARTISANAL DIALOGUE BOXES ****/

/* Based on the CSS at https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/dialog.html */

/* Apply to body when there's a dialogue open */
.has_dialog {
    overflow: hidden;
}

.notbootstrap[role="alertdialog"],
.notbootstrap[role="dialog"] {
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fff;
    min-height: 100vh;
}

@media screen and (min-width: 640px) {
    .notbootstrap[role="alertdialog"],
    .notbootstrap[role="dialog"] {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        left: 50vw;  /* move to the middle of the screen (assumes relative parent is the body/viewport) */
        transform: translateX(-50%);  /* move backwards 50% of this element's width */
        min-width: calc(640px - (15px * 2));  /* == breakpoint - left+right margin */
        max-height: calc(100vh - 8rem); /* 4rem top and bottom */
        min-height: auto;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
        --border-radius: 6px;
        border-radius: var(--border-radius);
    }
}

.dialog-header {
    padding: 15px;
    background-color: #f5f5f5;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.dialog-header select {
    margin-bottom: 0;
    max-width: 30em
}

.dialog-body {
    padding: 15px;
    overflow-y: auto;
}

.dialog-footer {
    padding: 15px;
    background-color: #f5f5f5;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.dialog-backdrop {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 640px) {
    .dialog-backdrop {
        background: rgba(0, 0, 0, 0.3);
    }
}

/**** NAVIGATION ****/

.nav-container {
    position: sticky;
    top: 0;

    width: 100%;
    box-sizing: border-box;
    background-color: var(--brown-4);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
    z-index: 1000;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 40px;
}

.nav-main a {
    display: inline-flex;
    height: 40px;
    align-items: center;
    padding: 0 7px;
}

.nav-main a:hover {
    background-color: var(--brown-3);
}

.nav-main-heading {
    font-size: 1rem;
    color: var(--brown-1);
}





tr.item {
    vertical-align: top;
}


.locked-warning {
    border: 2px solid var(--app-color);
    padding: 1rem;
    margin-bottom: 1rem;
}
